body {
  background-color: #efebf7;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

.header-data {
  font-size: 14px;
  color: #5e5e5e;
  margin: 5px 0;
}

.highlights {
  color: #ca4638;
}

.form-head {
  position: relative;
  margin: 12px auto;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 24px;
  width: 640px;
  /*! 為了讓 .top-decoration 的 position: absolute; 
  以 .form-container 為參考點 */
}

.top-decoration {
  position: absolute;
  top: -0.9px;
  left: -0.9px;
  height: 10px;
  width: 640px;
  background-color: #613cb1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

hr {
  border: 0.5px solid #dadce0;
  margin: 10px -24px;
}

.form-blocks {
  margin: 12px auto;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 24px;
  width: 640px;
}

.form-questions {
  margin-bottom: 16px;
}

/* 當 input 元素被聚焦時，套用以下樣式 */
input:focus {
  outline: none; /*! 取消預設的藍色邊框 */
  border-bottom: #613cb1 solid 1.5px;
}

.input-box {
  font-size: 14px;
  color: #1f1f1f;
  border-bottom: 1px solid #dadce0;
  width: 295px;
}

.date-box {
  font-size: 14px;
  color: #1f1f1f;
  border-bottom: 1px solid #dadce0;
  width: 150px;
}

.option-btn {
  margin-bottom: 16px;
}

.select-box {
  font-size: 14px;
  color: #1f1f1f;
  border: 1px solid #dadce0;
  border-radius: 4px;
  padding: 8px 48px 8px 16px;
  width: 150px;
}

.form-function-btns {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
  border-radius: 4px;
  font-size: 14px;
  width: 640px;
  height: 48px;
}

.submit-btn {
  border-radius: 4px;
  font-size: 14px;
  background-color: #613cb1;
  color: #fff;
  width: 76.5px;
  height: 36px;
}

.clear-form-btn {
  margin-top: 12px;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #613cb1;
}

.warning {
  margin: 12px auto 0;
  width: 640px;
  font-size: 12px;
  color: #525054;
  text-align: left;
}

.footer-content {
  margin: 16px auto;
  width: 640px;
  font-size: 12px;
  color: #525054;
  text-align: center;
}

.google-form {
  margin: 24px auto;
  width: 640px;
  font-size: 22px;
  color: #6c6a6f;
  text-align: center;
}
